:root {
  --accent-color: #df0000;
  --accent-color-translucent: #df0000aa;
  --bg-color: #fafafa;
  --bg-color-translucent: #fafafaaa;
  --gray-100: #999999;
  --ocre-yellow: #ffca00;
  --text-color: #333333;
  --text-color-translucent: #333333aa;
}
