.detail {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  width: 100%;
}

.detail__data {
  padding: 3em;

  .data {
    margin-bottom: 1em;

    &__title {
      margin-bottom: 0.25em;
    }
  }
}

.detail__header {
  align-items: flex-end;
  background-repeat: no-repeat;
  display: flex;
  padding: 2em 3em;

}

.header__poster {
  flex-shrink: 0;
  height: 300px;
  margin-right: 1.5em;
  width: 200px;
  z-index: 1;
}

.header__main-data {
  backdrop-filter: blur(10px);
  background-color: var(--bg-color-translucent);
  padding: 1.5em;
  width: 100%;

  &:only-child {
    padding: 0 0 2rem;
    margin-bottom: -2rem;
    border-bottom: thin solid rgba(0,0,0,0.4);
}
}

@media screen and (max-width: 700px) {
  .detail__header {
    align-items: center;
    flex-direction: column;
  }

  .header__poster {
    margin-bottom: 1.5em;
    margin-right: 0;
  }
}
